@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);

#header4-0 H1 {
  font-family: 'Droid Sans', sans-serif;
  text-align: center;
  color: #d6e2ff;
  font-size: 32px;
}
#header4-0 P {
  text-align: right;
}
#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #cccccc;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-k .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-k.mbr-navbar--stuck .mbr-navbar__section {
  background: #cccccc;
}
#ext_menu-k .mbr-navbar__hamburger {
  color: #ffffff;
}
#content5-s .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-s .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-s .mbr-article {
  color: #fff;
}
#ext_menu-k .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-k.mbr-navbar--stuck .mbr-navbar__section {
  background: #cccccc;
}
#ext_menu-k .mbr-navbar__hamburger {
  color: #ffffff;
}
#header3-28 H3 {
  color: #d6e2ff;
}

#header4-z H1 {
  font-family: 'Droid Sans', sans-serif;
  text-align: center;
  color: #d6e2ff;
  font-size: 32px;
}
#header4-z P {
  text-align: right;
}
#ext_menu-10 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-10.mbr-navbar--stuck .mbr-navbar__section {
  background: #cccccc;
}
#ext_menu-10 .mbr-navbar__hamburger {
  color: #ffffff;
}

#ext_menu-11 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-11.mbr-navbar--stuck .mbr-navbar__section {
  background: #cccccc;
}
#ext_menu-11 .mbr-navbar__hamburger {
  color: #ffffff;
}
#header4-2c H1 {
  color: #d6e2ff;
  font-family: 'Droid Sans', sans-serif;
  font-size: 36px;
}
#ext_menu-1r .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1r.mbr-navbar--stuck .mbr-navbar__section {
  background: #cccccc;
}
#ext_menu-1r .mbr-navbar__hamburger {
  color: #ffffff;
}
#header3-2i H3 {
  color: #d6e2ff;
}
#ext_menu-1w .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1w.mbr-navbar--stuck .mbr-navbar__section {
  background: #cccccc;
}
#ext_menu-1w .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-2l .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-2l.mbr-navbar--stuck .mbr-navbar__section {
  background: #cccccc;
}
#ext_menu-2l .mbr-navbar__hamburger {
  color: #ffffff;
}
#header3-2p H3 {
  color: #d6e2ff;
}
#ext_menu-2n .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-2n.mbr-navbar--stuck .mbr-navbar__section {
  background: #cccccc;
}
#ext_menu-2n .mbr-navbar__hamburger {
  color: #ffffff;
}
#header3-31 H3 {
  color: #d6e2ff;
}
